nav{
    background-color: aliceblue;
    padding: 1.5em 0;
  }
  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  .nav__links ul {
    display: flex;
    gap: 7em;
  }
  .nav__links ul li {
    list-style-type: none;
    font-size:1.5em;
  }
  .nav__links ul li a {
    text-decoration: none;
    color:black;
  }
  .nav__links ul li:hover{
    background-color: #eea539;
    color:white;
    cursor: pointer;
    
  }
  .nav__img{
    gap: 2em;
    display: flex;
  }
  .button{
    background-color: black;
    color: white;
    padding:3px 3px 3px 3px;
}
.menu__pizza{
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
}
.menu__list{
  border-bottom:2px solid black;
  margin-top:2em;
}
